<h2>Fuck These Calls:</h2>

<div class='container'>
<% @calls.each do |call| %>

<h1><%= link_to "#{call.description}", call_url(call.id), :class => 'description' %>
<%= link_to "Discuss this call", call_url(call.id), :class => 'btn btn-danger' %>
</h1>
<% end %>
</div>
<footer>
<h3 id='mailer' class='btn btn-success'><%= mail_to "jimmymowschess@gmail.com", "Feedback".html_safe, subject: "Feedback", :class => 'feedback_link' %></h3>
</footer>
