/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  text-align: center;
}

h1 {
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
}

h2 {
  font-size: 50px;
  padding-bottom: 150px;
}

.description:hover, .description {

  color: black;
}

#mailer {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.feedback_link {
  color: white;
}


